body{
    background-color: whitesmoke;
}

a {
    color: green;
}

thead {
    text-transform: uppercase;
    

}

.top{
    background-color: red;
}

em{
    background-color: blue;
}

#the_most_important{
    text-transform: uppercase;
    background-color: gold;
}

h2{
    font-family: sans-serif ;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
  }

  h2 + p:first-letter {
    font-size: x-large;
  }

  table tr:hover {
    background-color: lightgrey; 
  }

  table tr:hover td {
    background-color: inherit;
  }

li.navitem {
    display: inline; 
    text-decoration: none;
}
li.navitem a{
    text-decoration: none;
}

#Details{
      text-decoration: underline;  
}

/* Apply alternating background colors to table rows */
table tbody tr:nth-child(odd) {
    background-color: #9ead84;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #84daf0; 
  }
  
  ::selection {
    background-color: #ffcc00; 
    color: #000; 
  }
a:hover {
    cursor: default ;
  }
body a:hover:not(nav a) {
    cursor: pointer ;
  }

  input, textarea{
      height: 20px;
      border-color: lightgrey;
  }

  input[name="message"] {
    height: 50px;
  }

  body{ 
  color: var(--second-text-color, rgb(39, 79, 124) );
  text-align: center;
  
  /* paragraph */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;

}


button{
    border-radius: 5px;
background: var(--primary-color, #23A6F0);
display: flex;
padding: 15px 25px;
align-items: center;
gap: 15px;
}

.color-change-button {
    padding: 10px 20px;
    background-color: #343a3f;
    color: rgb(39, 28, 28);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth color transition */
}

/* Change button background color on hover */
.color-change-button:hover {
    background-color: #2980b9;
}


/* Hamburger button styles */
.hamburger-button {
    background: none;
    border: none;
    font-size: 24px;
    color: rgb(97, 42, 42);
    cursor: pointer;
}

/* Hamburger menu styles */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateX(20px); /* Initially moved to the right */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

/* Show the menu on hover with a delay */
.navbar:hover .hamburger-menu {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.3s; /* Delay the transition */
}
